<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    {{#if showTitle}}
    <h1>Tieu de trang Web - Hbs Template</h1>
    {{/if}}

    {{#if showBody}}
    {{{body}}}
    {{/if}}

    {{#if showContentTinhToan}}
    <h2>So A: {{soA}}</h2>
    <h2>So B: {{soB}}</h2>
    <h2>Phep tinh: {{operator}}</h2>
    <h2>Ket qua: {{kq}}</h2>
    {{/if}}

</body>
</html>